* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main */
main {
  height: calc(100vh - 100px);
  display: flex;
}

.main-nav {
  height: 100%;
  flex-basis: 250px;
  background-color: black;
}

.main-box {
  height: 100%;
  flex-grow: 1;
  background-color: #141922;
}

.header-box {
  height: 100px;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

/* footer */
footer {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #282828;
}
